version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend_app
    volumes:
      - ./frontend:/app 
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: db_app
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: miapp
      MYSQL_USER: usuario
      MYSQL_PASSWORD: clave
    ports:
      - "3306:3306"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql